html {
	min-height: 100vh;
	position: relative;
}

body {
	height: 100vh;
	position: relative;
}

.container, .row, .main-box {
	height: 100vh;
	position: relative;
}

.hidden {
	display: none;
}

.fadein {
	visibility: visible;
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-ms-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
}

.wiki-search {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.wiki-search-field {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	border: 2px solid black;
	outline-width: 0;
	padding-left: 7px;
}

.wiki-search-field.narrow-search-field {
	-webkit-transition: width 1.75s;
	-moz-transition: width 1.75s;
	-ms-transition: width 1.75s;
	-o-transition: width 1.75s;
	transition: width 1.75s;
	width: 20px;
}

.wiki-search-field.wide-search-field {
	-webkit-transition: width 1.75s;
	-moz-transition: width 1.75s;
	-ms-transition: width 1.75s;
	-o-transition: width 1.75s;
	transition: width 1.75s;
	width: 200px;
}

.x-cont {
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 12px;
	top: 19px;
	right: 18px;
}

.x-cont-add {
	transform: translateY(-15px);
	transition: transform 0.18s;
	transition-delay: 1.25s;
	width: 7%;
}

.x-cont-remove {
	transform: translateY(0px);
	transition: transform 0.18s;
	width: 20px;
}

.xbar {
	width: 12px;
	height: 2px;
	background-color: black;
}

.bar-one {
	transform: rotate(-45deg) translateY(7px);
	position: absolute;
	right: 19px;
}

.bar-one-add {
	transform: translateX(19px) translateY(5px) rotate(-45deg);
	transition: transform 0.18s;
	transition-delay: 1.25s;
}

.bar-one-remove {
	transform: translateX(5px) translateY(5px) rotate(-45deg);
	transition: transform 0.18s;	
}

.bar-two {
	transform: rotate(45deg) translateY(7px);
	position: absolute;
	right: -19px;
}

.bar-two-add {
	transform: translateX(-19px) translateY(5px) rotate(45deg);
	transition: transform 0.18s;
	transition-delay: 1.25s;
}

.bar-two-remove {
	transform: translateX(-5px) translateY(5px) rotate(45deg);
	transition: transform 0.18s;	
}

.x-cover {
	display: inline-block;
	position: absolute;
	top: 20px;
	right: 5px;
	width: 45px;
	height: 10px;
	background: #dff0d8;
	z-index: 100;
}
