html {
	height: 100%;
	position: relative;
}

body {
	height: 100%;
	position: relative;
	background-color: #D3D3D3;
}

.container, .row, .main-box {
	height: 100%;
	position: relative;
}

.main-box {
	background-color: #D3D3D3;
}

.constent-content {
	margin-top: 20%;
}

.raised-constent {
	margin-top: 5%;
	-webkit-transition: margin-top 1.25s;
	-moz-transition: margin-top 1.25s;
	-ms-transition: margin-top 1.25s;
	-o-transition: margin-top 1.25s;
	transition: margin-top 1.25s;
}

.lowered-constent {
	margin-top: 20%;
	-webkit-transition: margin-top 1.25s;
	-moz-transition: margin-top 1.25s;
	-ms-transition: margin-top 1.25s;
	-o-transition: margin-top 1.25s;
	transition: margin-top 1.25s;	
}

.search-results {
	margin-top: 40px;
	margin-bottom: 40px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.result-box {
	display: block;
	color: #000;
	background-color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	text-align: left;
	border: 2px solid #000;
}

.result-box:hover,
.result-box:visited,
.result-box:active {
	color: #000;
	text-decoration: none;
}

.result-box:hover {
	margin-left: -5px;
	border-left: 7px solid grey;
}

.hidden {
	display: none;
}

.random-link {
	font-size: 3.2em;
	display: inline-block;
	margin-bottom: 15px;
	color: #000;
}

.search-icon {
	font-size: 3.2em;
}

.fadein {
	visibility: visible;
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-ms-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
}

.wiki-search {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.wiki-search-field {
	width: 56px;
	height: 56px;
	border-radius: 28px;
	border: 5px solid black;
	outline-width: 0;
}

.wiki-search-field.narrow-search-field {
	-webkit-transition: width 1.75s;
	-moz-transition: width 1.75s;
	-ms-transition: width 1.75s;
	-o-transition: width 1.75s;
	transition: width 1.75s;
	width: 56px;
}

.wiki-search-field.wide-search-field {
	-webkit-transition: width 1.75s, padding-right 0.5s;
	-moz-transition: width 1.75s, padding-right 0.5s;
	-ms-transition: width 1.75s, padding-right 0.5s;
	-o-transition: width 1.75s, padding-right 0.5s;
	transition: width 1.75s, padding-right 0.5s;
	padding-left: 20px;
	padding-right: 80px;
	font-size: 30px;
	width: 500px;
}

.x-cont {
	display: inline-block;
	position: absolute;
	width: 100px;
	height: 35px;
	top: 65px;
	right: 45px;
}

.x-cont-add {
	transform: translateY(-55px);
	transition: transform 0.18s;
	transition-delay: 1.25s;
	width: 7%;
}

.x-cont-remove {
	transform: translateY(0px);
	transition: transform 0.18s;
	width: 100px;
}

.xbar {
	width: 40px;
	height: 5px;
	background-color: black;
}

.bar-one {
	transform: rotate(-45deg) translateY(7px);
	position: absolute;
	right: 47px;
}

.bar-one-add {
	transform: translateX(50px) translateY(15px) rotate(-45deg);
	transition: transform 0.18s;
	transition-delay: 1.25s;
}

.bar-one-remove {
	transform: translateX(5px) translateY(5px) rotate(-45deg);
	transition: transform 0.18s;	
}

.bar-two {
	transform: rotate(45deg) translateY(7px);
	position: absolute;
	right: -51px;
}

.bar-two-add {
	transform: translateX(-48px) translateY(15px) rotate(45deg);
	transition: transform 0.18s;
	transition-delay: 1.25s;
}

.bar-two-remove {
	transform: translateX(-5px) translateY(5px) rotate(45deg);
	transition: transform 0.18s;	
}

.x-cover {
	display: inline-block;
	position: absolute;
	top: 56px;
	right: 3px;
	width: 100%;
	height: 35px;
	background: #D3D3D3;
	z-index: 100;
}
